<h1>D.A.R.T</h1>
<h3>簡単日報作成アプリ</h3>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <h1>ログイン</h1>
  <%= f.label :メールアドレス %>
  <%= f.email_field :email %>

  <p><%= f.label :パスワード %>
  <%= f.password_field :password %>

  <p><%= f.submit "ログイン" %>
<% end %>
