<%= form_with(model: [@daily_report, @photo]) do |form| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= @photo.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @photo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
      <%= form.label :"タイトル" %>
      <%= form.text_field :title, :placeholder => "例)何々の写真" %>
    </div>
  

    <div class="field">
      <%= form.label :写真を選んでください %>
      <%= form.file_field :images, multiple: true %>
    </div>

    <% if @photo.images.attached? %>
        <p>選択済みの画像（削除する画像にチェックをつけてください）</p>
        <div style="display: flex; flex-wrap: wrap; width: 750px;">
        <% @photo.images.each do |image| %>
        <div style="display: flex; margin:5px 5px 5px 0;">
            <%= form.check_box :image_ids, { multiple: true }, image.id, false %>
            <label for="photo_image_ids_<%= image.id %>" > 
            <%= image_tag image, size: '300x300' %>
            </label>
        </div>
        <% end %>
        </div>
    <% end %>
  
    <div class="actions">
      <%= form.submit"登録する", class: 'btn btn-outline-secondary' %>
      <%= link_to '写真一覧に戻る', daily_report_photos_path,class: 'btn btn-outline-secondary' %>
    </div>
<% end %>