<h2><%= @user.name %>さんのタスク一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>現場名</th>
      <th>日付</th>
      <th>住所</th>
      <th>作業内容</th>
      <th>使用工具</th>
      <th>作業場所</th>
    </tr>
  </thead>
    <% @user.daily_reports.each do |daily_report| %>
      <tr>
        <th></th>
        <td><%= daily_report.place %></td>
        <td><%= daily_report.date %></td>
        <td><%= daily_report.address %></td>
        <td><%= daily_report.action_content %></td>
        <td><%= daily_report.tool %></td>
        <td>
          <% daily_report.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<%= link_to '戻る', admin_users_path %>