<%= form_with(model: @daily_report, local: true) do |form| %>
    <% if @daily_report.errors.any? %>
      <div id="error_explanation">
        <h2><%= @daily_report.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @daily_report.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <p>投稿内容を記入してください</p>
  
    <%= form.label :place,"現場名" %>
    <%= form.text_field :place %>
  
    <br>
    <%= form.label :date,"日付" %>
    <%= form.date_field :date %>
  
    <br>
    <%= form.label :place,"住所" %>
    <%= form.text_field :address %>
  
  
    <br>
    <%= form.label :label_name,"ラベル名" %>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
    
    <br>
    <%= form.label :action_content,"作業内容" %>
    <%= form.text_area :action_content %>
  
    <br>
    <%= form.label :tool,"使用工具" %>
    <%= form.text_area :tool %>
    
    <br>
    <%= form.submit "日報登録" %>
    
    <!-- ここから地図検索機能 -->
    <div class="input-field">
      <input type="text" id="address" placeholder="地名、施設名などを入力するか、地図をクリックしてマーカーを立ててください">
      <label>場所</label>
      <a class="btn" onclick="codeAddress()">地図検索</a>
      <a id="del" class="btn marker-delete right" onclick="deleteMarker()">
      <i class="fas fa-map-marker-alt fas-2x" style="color:red"></i>削除
      </a>
    </div>
    <!-- ここまで -->
  
    マップ
    <div id='map'></div>
  
    <!-- 下記のコードによってdaily_reportと関連付けたmapにデータを渡す -->
    <%= form.hidden_field :latitude %>
    <%= form.hidden_field :longitude %>
  <% end %>
  
  <style>
  #map {
  height: 600px;
  width: 600px;
  }
  </style>
  
  <script>
  var marker
  var myLatLng
  var map
  var map_lat
  var map_lng
  
  function initMap(){
     myLatLng = {lat: 35.68090045006303, lng: 139.76690798417752}
     marker = new google.maps.Marker();
     map_lat = document.getElementById('daily_report_latitude')
     map_lng = document.getElementById('daily_report_longitude')
     //↑map.hidden_fieldによって生成された<input>のid
     //ブラウザの開発者モードで確認
     map = new google.maps.Map(document.getElementById('map'), {
    center: myLatLng,
    zoom: 8
    });
  
   google.maps.event.addListener(map, 'click', mylistener);
  
      //クリックしたときの処理
    function mylistener(event){
      //markerの位置を設定
      //event.latLng.lat()でクリックしたところの緯度を取得
      marker.setPosition(new google.maps.LatLng(event.latLng.lat(), event.latLng.lng()));
      //marker設置
      marker.setMap(map);   
      console.log(event.latLng.lat(), event.latLng.lng());
      map_lat.value = event.latLng.lat();
      map_lng.value = event.latLng.lng();
    }
  }
  function deleteMarker(){
    marker.setMap(null);
    map_lat.value = "";
    map_lng.value = "";
  }
  
  //追加した関数
  function codeAddress(){
    geocoder = new google.maps.Geocoder()
    let inputAddress = document.getElementById('address').value;
    geocoder.geocode( { 
      'address': inputAddress,
       'region': 'jp'
      }, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        map_result = results[0].geometry.location;
        map_lat.value = map_result.lat();
        map_lng.value = map_result.lng();
        marker.setPosition(new google.maps.LatLng(map_result.lat(), map_result.lng()));
        marker.setMap(map);
        console.log(map_lat.value,map_lng.value);
      } else {
        alert('該当する結果がありませんでした');
        initMap();
      }
    });   
  }
  
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSSKQ2eh963Pus8S6M4z3wwTlL84q2WMQ&callback=initMap" async defer></script>
  
  
  <%= link_to "日報一覧画面にもどる", daily_reports_path,class: "btn btn-primary" %>