<%= form_with(model: @daily_report, local: true) do |form| %>
    <% if @daily_report.errors.any? %>
      <div id="error_explanation">
        <h2><%= @daily_report.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @daily_report.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <p>投稿内容を記入してください</p>
  
    <%= form.label :place,"現場名" %>
    <%= form.text_field :place %>
  
    <br>
    <%= form.label :date,"日付" %>
    <%= form.date_field :date %>
  
    <br>
    <%= form.label :place,"住所" %>
    <%= form.text_field :address %>
  
  
    <br>
    <%= form.label :label_name,"ラベル名" %>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
    
    <br>
    <%= form.label :action_content,"作業内容" %>
    <%= form.text_area :action_content %>
  
    <br>
    <%= form.label :tool,"使用工具" %>
    <%= form.text_area :tool %>
    
    <br>
    <%= form.submit "日報登録" %>
<% end %>