<h1>日報一覧</h1>

<table class="table">
    <tr>
      <th>現場名</th>
      <th>日付</th>
      <th>住所</th>
      <th>作業場所</th>
      <th>操作</th>
      <th></th>
    </tr>

  <% @daily_reports.each do |daily_report| %>
    <tr>
      <td><%= daily_report.place %></td>
      <td><%= daily_report.date %></td>
      <td><%= daily_report.address %></td>
      <td>
        <% daily_report.labels.each do |label| %>
          <%= label.name %>
        <% end %>
      </td>


      <td><%= link_to "日報を見る", daily_report_path(daily_report.id),class: 'btn btn-outline-secondary' %></td>
      <td><%= link_to "削除", daily_report_path(daily_report.id),method: :delete,data: { confirm: "本当に削除してもいいですか？"},class: "btn btn-outline-danger btn-sm" %></td>

    </tr>
    
  <% end %>

  <!-- 日報受け渡し -->
  <% @delivered_reports.each do |daily_report| %>
    <tr>
      <td><%= daily_report.place %></td>
      <td><%= daily_report.date %></td>
      <td><%= daily_report.address %></td>
      <td>
        <% daily_report.labels.each do |label| %>
          <%= label.name %>
        <% end %>
      </td>
      <td><%= link_to "日報を見る", daily_report_path(daily_report.id), class: 'btn btn-outline-secondary' %></td>
      <td></td>
    </tr>
  <% end %>
</table>
